# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [3]:
print("Hello",11,"False",10.99)

Hello 11 False 10.99

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [5]:
print("Hello",11,"False",10.99,sep="-")

Hello-11-False-10.99

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [7]:
print("Hey",end=" ")
print(19,end=" ")
print("True",end=" ")
print(13.33333,end=" ")

Hey 19 True 13.33333

4) Can a python print function take no value to print???

In [9]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [11]:
name = "Ahmed"
age = 30
profession = "Lawyer"
graduation_year = 2005
company = "Himalya Associates"
company_year = 2015
height_ft = 5.10
weight_g = 70600
income_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [13]:
current_year = 2024
years_after_passout = current_year - graduation_year
print(years_after_passout)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [15]:
years_of_joining = current_year - company_year
print(years_of_joining)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [17]:
usd = 278
income_in_usd = income_pkr / usd
print("Monthly income in dollars is:",income_in_usd)

Monthly income in dollars is: 719.4244604316547

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [37]:
type(income_in_usd)
usd = 278
income_in_usd = income_pkr / usd     #// yeh bhi use krskte kion k yeh roundoff(int) krke dedeta hai
print("Monthly income in dollars is:",int(income_in_usd))

Monthly income in dollars is: 719

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [25]:
print(type(weight_g))
weight_in_kg = int(weight_g / 1000)
print("Weight of Mr.Ahmed is:",weight_in_kg)

<class 'int'>
Weight of Mr.Ahmed is: 70

In [27]:
#11) print the year of birth of Mr. Ahmed.
year_of_birth = current_year - age
print("The year of birth is:",year_of_birth)

The year of birth is: 1994

In [ ]:
#type your code here

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [29]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2


100%6
# 10 is not completely divisible by 6
# Rs.4 is remaining

4

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909

In [31]:

name = input("Enter your Name:")
course = input("Enter name of course :")
days = input("Enter days of course:")
rollid = input("Enter your ID:")

Enter your Name: Nasir Hussain
Enter name of course : AI and DS
Enter days of course: Tuesday and Thursday
Enter your ID: AI - 332909

In [33]:
print("                       Saylani Mass IT\n             Name   : {} \n             Course : {} \n             Days   : {}\n             ID     : {} ".format(name,course,days,rollid))

                       Saylani Mass IT
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909